.class-1 {
    color: blue;
    text-align: center;
}

body {
    background-image: url(images/lasagna.png);
    background-repeat: repeat-y;
    background-size: 70px;
}

.class-2 {
    border: 4px solid;
    text-align: center;
    margin-left: 60px;
}

.class-3 {
    border-style: dotted;
    border-top-width: 2px;
    border-right-width: 20px;
    border-bottom-width: 6px;
    border-left-width: 15px;
    margin-left: 60px;
}

.class-4 {
    border:solid;
    margin-left: 60px;
}

.class-5 {
    text-align: center;
    border: 8px red groove;
    border-radius: 20px;
    margin-left: 60px;
}

.class-6 {
    border:5px black dotted;
    margin-left: inherit;
    margin-top: 8px;
    margin-left: 60px;
}
