body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.header {
    padding: 30px;
    text-align: center;
    background-color: rgb(122, 89, 156);
}

#h1css {
    font-size: 50px;
}

h2 {
    color: rgb(122, 89, 156);
}

h5 {
    color: rgb(122, 165, 226);
}

.frame {
    width: 100%;
    background-color: white;
    padding: 5px;
    margin-top: 20px;
    box-sizing: border-box;
    
}

.images {
    background-color: #aaa;
    padding: 20px;
    margin-top: 10px;
}



